input:not([type="checkbox"], [type="radio"]) {
    display: block;
    width: 100%;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: $fs-14;
    line-height: 1.43;
    letter-spacing: 0.2em;
    color: $c-text-grey;
    padding: 20px 36px;
    background-color: $c-white;
    border: 2px solid $c-white;
    outline: none;
    cursor: pointer;
    transition: all 0.5s linear;

    &:focus {
        border-color: $c-red;
    }
}
